/*ESTILOS GENERALES*/
*{
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url("../img/fondo.png");
}

/*MENU*/
#menu {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    background-color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 30px;
    box-shadow: 0px 0px 2px gray;
}

#menu ul {
    text-align: center;
    list-style: none;
    text-decoration: none;
    line-height: 40px;
}

#menu ul li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

#menu ul li a {
    display: block;
    text-decoration: none;
    /*FONT DE GOOGLE*/
    font-family: 'Bebas Neue', cursive;
    color: white;
    transition: all 200ms;
}

#menu ul li a:hover {    
    color: #37bcf9;
    transform: scale(1.2);
}

/*SECCION INICIO*/
#inicio {    
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#inicio h1 {
    font-size: 60px;
    /*FONT DE GOOGLE*/
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    color: rgb(32, 32, 32);
}

/*SECCION EQUIPO CON GRID*/
.grid_container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-gap: 20px;
    background-image: url("../img/cancha.jpg");
    background-size: cover;
    padding: 20px;
}

.grid_container > div {
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 0px 2px 1px #333333;
    font-family: 'Bebas Neue', cursive;
  }

.caja {
    display: block;
    cursor: pointer;
    transition: all 200ms;
}

.caja:hover {
    transform: scale(1.1);
}

.caja img {
    height: 150px;
}

.arquero {
    grid-column-start: 4;
    grid-column-end: 6;
  }

.lateral_derecho {    
    grid-column-start: 1;
    grid-column-end: 3;
}

.central_derecho {    
    grid-column-start: 3;
    grid-column-end: 5;
}

.central_izquierdo {    
    grid-column-start: 5;
    grid-column-end: 7;
}

.lateral_izquierdo {    
    grid-column-start: 7;
    grid-column-end: 9;
}

.volante {    
    grid-column-start: 4;
    grid-column-end: 6;
}

.interior_derecho {    
    grid-column-start: 2;
    grid-column-end: 4;
}

.interior_izquierdo {    
    grid-column-start: 6;
    grid-column-end: 8;
}

.delantero_derecho {
    grid-column-start: 1;
    grid-column-end: 3;
}
.delantero_centro {
    grid-column-start: 4;
    grid-column-end: 6;
}
.delantero_izquierdo {
    grid-column-start: 7;
    grid-column-end: 9;
}

/*------MEDIA QUERY EQUIPO -------*/
@media (max-width: 700px){
    .caja img {
        height: 100px;
    }
}



/*FOOTER*/
#footer {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    background-color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: sans-serif,Arial, Helvetica;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;
}
#footer a i{
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    transition: all 200ms;
}

#footer a i:hover {
    transform: scale(1.2);
}


/*ESTADIOS*/
.grid_container_estadios {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
    padding: 20px;
}

.caja_estadio {
    text-align: center;
    background-color: #005691;
    border-radius: 10px;
    padding: 10px;
}

.caja_estadio img {
    width: 80%;
    height: 300px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.caja_estadio h2 {
    font-size: 30px;   
    color: #E9F0F6;
    /*FONT DE GOOGLE*/
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 5px;
}



/*------MEDIA QUERY ESTADIOS -------*/
@media (max-width: 1080px){
    .grid_container_estadios {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 780px){
    .grid_container_estadios {
        grid-template-columns: repeat(1, auto);
    }
}